apps:
  - name: ms-bot
    cwd: ms-bot/
    script: server.js
    env_local:
      NODE_ENV: "development"
      PORT: 3015
      HTTPS: false
      MONGO_URI: mongodb://localhost:27017/bot-discord
      APP_URL: http://localhost
      args:
        - environment:local
    env_pro:
      NODE_ENV: "production"
      PORT: 3015
      HTTPS: true
      MONGO_URI: mongodb://ip:port/dbname
      APP_URL: 
      SSL_URL: /home/bot-discord/
      LOG_LEVEL: info
      args:
        - environment:pro
  - name: ms-game
    cwd: ms-game/
    script: server.js
    env_local:
      NODE_ENV: "development"
      PORT: 3014
      HTTPS: false
        
